th#slog_data.manage-column.column-slog_data {
    width: 450px;
}

.view-slog table th .column-slog_data pre {
    margin: 0;
    overflow: scroll;
    word-wrap: normal;
}

/*
@TODO: figure out issue where table empty system-generated error div displays within header area
.slog-report-header {
    display: flex;
}
*/