.wrap.view-slog th#slog_date {
	width: 100px;
}

.wrap.view-slog th#slog_site {
	width: 137px;
}

.wrap.view-slog th#slog_code {
	width: 200px;
}

.wrap.view-slog th#slog_message {
	width: 300px;
}

.wrap.view-slog td.slog_data pre {
	overflow: auto;
	word-wrap: normal;
	margin: 0;
}

.wrap.view-slog div.slog-search-form {
	float: right;
}

.wrap.view-slog div.slog-search-form #slog-column {
	margin-top: -4px;
}

.wrap.view-slog div.slog-search-form em {
	float: right;
}